body {
  font-family: "Raleway", sans-serif;
  padding: 30px;
  background: url(https://cdn.britannica.com/58/142358-050-073045C5/Sheet-music-notation.jpg)
    no-repeat center top / cover fixed;
  background-position: right 3px center;
}
.article-content {
  /* position: relative;
  min-height: 1px; */
  padding: 30px;
  border: 1px solid rgb(141, 139, 139);
  margin-bottom: 30px;
  background: rgb(228, 225, 222);
}

article img {
  max-width: 100%;
  height: auto;
}

article {
  padding: 0 15px 0 15px;
  display: block;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* mobile */
/* max-width 767px */
/* @media (max-width: 767px) {
  .row {
    width: 100%;
    margin-top: 7px;
  }
  .tarticle-content {
    width: 100%;
    margin-left: 10px;
  }
} */

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}
