body {
	padding: 30px;
	background: url(https://cdn.britannica.com/58/142358-050-073045C5/Sheet-music-notation.jpg)
	  no-repeat center top / cover fixed;
	background-position: right 3px center;
 }
 .article-content {
	/* position: relative;
	min-height: 1px; */
	padding: 30px;
	border: 1px solid rgb(141, 139, 139);
	margin-bottom: 30px;
	background: rgb(228, 225, 222);
	color: rgb(30, 2, 54);
	margin-top: 20px;
	text-transform: uppercase;
 }
 
 article img {
	max-width: 100%;
	height: auto;
 }
 
 article {
	padding: 0 15px 0 15px;
	display: block;
	text-transform: capitalize;
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.5em;
	
 }
 
span{
	text-shadow: 2px 1px rgb(119, 114, 114);
}
 .begin{
	 color: rgb(247, 247, 252);
	 text-align: center;
	 border: 2px solid rgb(141, 139, 139);
	 background-color: rgb(228, 225, 222);
	 font-family: 'Cormorant Garamond', serif;
	 margin-bottom: 15px;
	 text-transform: uppercase;
	 padding-bottom: 10px;
	 word-spacing: 30px;
	 text-shadow: 2px 2px #4d4848;
 }
